[submodule "themes/hellofriends"]
	path = themes/hellofriends
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
